.download {
    &--header {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #484444;
    }
    &--icon {
        font-size: 100px;
        color: #484444;
    }
}