.help--desk {
    position: fixed;
    height: calc(100vh - 80px);
    right: 0;

    &-container {
        position: relative;
    }

    &__content {
        background-color: white;
        margin: 10px;
        margin-right: 0;
        transition: all ease 0.5s;
        height: 100%;

        border: solid 1px #ccc;
        border-right: 0;
        border-radius: 5px 0 0 5px;
        box-shadow: $box-shadow;
    }

    &.show--desk {
        width: 50%;
    }

    &.hide--desk {
        width: 0;
    }

    &__button {
        position: absolute;
        right: -35px;
        transform: rotate(90deg);
        top: 50%;
        border-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100px;

        &--active {
            right: auto;
            left: -55px;
        }
    }
}