.tabs {
    height: 30px;

    &--item {
        display: inline;
        background-color: #cccccc;
        padding: 1rem 3rem;
        cursor: pointer;
        
        &__active {
            background-color: $secondary-color;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: white;
        }
    }
}