.login--card-title {
    font-weight: 700;
    font-size: 2rem;
    color: $success-color;
    opacity: 0.92;
    margin: 0;
}
.forgot--password {
    color: $success-color;
}

.login-logo {
    max-width: 200px;
}
.info {
    color: #BB2D3B;
    font-weight: 600;
    font-size: 1.2rem;
}
.otp--input {
    border: none;
    border: 1px solid #d7d7d7;
    outline: none;
    width: 250px;
    border-radius: 4px;
    padding: .5rem;
}
.resend {
    border: none;
    outline: none;
    color: #009688;
    font-weight: 600;
    cursor: pointer;
}